<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <h1>About Us</h1>
    <a href="/">home page</a>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem, minima corporis fugiat repellendus architecto molestiae sint quo, sed, accusamus harum quis corrupti quibusdam minus obcaecati itaque. Quaerat corrupti sint adipisci.</p>
</body>
</html>