<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="/static/style.css">
</head>
<body>
    <h1>Welcome to Home File</h1>
    <a href="/about">about page</a>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae suscipit facere provident, ut voluptates dolore corporis eligendi quia eveniet. Inventore magni animi ratione delectus ad vel aut assumenda molestiae molestias.</p>
</body>
</html>